<div class="register">
  <mat-card class="register-card">
    <mat-card-header fxLayout="column">
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="registerData.name" placeholder="Full Name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="registerData.email" placeholder="Email Address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="registerData.phone" placeholder="Phone Number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="registerData.password" placeholder="Password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="incomingData.name" placeholder="Full Name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="incomingData.email" placeholder="Email Address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="incomingData.phone" placeholder="Phone Number">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="incomingData.password" placeholder="Password">
      </mat-form-field>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button (click)="onRegister()">Register</button>
      <button mat-button (click)="getProfile()">Profile</button>
    </mat-card-actions>
  </mat-card>
</div>